<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="//devsoap.com/favicon.png" type="image/png" />
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/theme.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" mdeia="screen" href="{{ '//devsoap.com/assets/built/global.css?v=' | append: site.github.build_revision }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '//devsoap.com/assets/built/screen.css?v=' | append: site.github.build_revision }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '//devsoap.com/assets/built/products.css?v=' | append: site.github.build_revision }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '//devsoap.com/assets/built/devsoap.css?v=' | append: site.github.build_revision }}">
    <script type="text/javascript" src="//devsoap.com/assets/js/jquery-3.2.1.min.js?v=9dbc70bc6b"></script>
    <script type="text/javascript" src="{{ '/assets/js/index.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    
    {% if page.custom_style %} 
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/' | append: page.custom_style | append: '?v=' | append: site.github.build_revision | relative_url }}">
    {% endif %}

    {% if page.pro %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/prism.css' | append: '?v=' | append: site.github.build_revision | relative_url }}">
    {% endif %}

    <style>
    @font-face {
        font-family: Chango;
        src: url(assets/fonts/Chango-Regular.ttf);
    }
   </style>
</head>
