{%- capture newline %}
{% endcapture -%}

{% for collection in menus %}
    {% assign collection_url = "/" | append: collection.label | append: "/index.html" %}
    {% if page.url == collection_url %}
    <li class="menu selected" role="menuitem" >
    {% else %}
    <li class="menu" role="menuitem" >
    {% endif %}
        <a href="/{{ collection.label }}" title="Go to {{ collection.title }}">
        <img src="{{collection.logo}}" style="height:1em" />
            {{ collection.title }}
        </a>
        <ol class="side-nav-submenu">
            {% assign docs = collection.docs | sort: 'priority' %}
            {% for doc in docs %}
                {% if doc.url contains 'index.html' %}
                {% else %}
                    {% if page.url == doc.url %}
                    <li id="{{doc.relative_path}}" class="submenu selected" role="menuitem">
                        <a href="{{ doc.url }}" title="Go to {{ doc.title }}">
                            {{ doc.title }}
                            {% if doc.pro == true %}
                                <span class="pro">PRO</span>
                            {% endif %}         
                        </a>
                        <ol class="bookmark-list">
                            {% assign lines = doc.content | split: newline  %}
                            {% for line in lines %}
                                {% if line contains "h2" %}
                                    <li class="bookmark">{{line | replace: 'id="', 'href="#' | replace: 'h2', 'a'}}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    {% else %}
                    <li id="{{doc.relative_path}}" class="submenu" role="menuitem">
                        <a href="{{ doc.url }}" title="Go to {{ doc.title }}">
                            {{ doc.title }}
                            {% if doc.pro == true %}
                                <span class="pro">PRO</span>
                            {% endif %}    
                        </a>
                    {% endif %}                       
                    </li>
                {% endif %}
            {% endfor %}

            {% assign isRootMenu = false %}
            {% assign menus = site.collections | where: "parent", collection.label | sort: 'priority' %}
            {% if menus != empty %} 
                <li class="submenu" role="menuitem">
                    {% include menu.html %}
                </li>
            {% endif %}
        </ol>
    </li>    
{% endfor %}