{% for collection in menus %}
    <li class="menu" role="menuitem">
        <a  href="/{{ collection.label }}" title="Go to {{ collection.title }}">{{ collection.title }}</a>
        <ol class="side-nav-submenu {{rootMenuClass}}" id="side-nav-{{ collection.label }}">
            {% assign docs = collection.docs | sort: 'priority' %}
            {% for doc in docs %}
                {% if doc.title != 'Index' %}
                    <li class="submenu submenu" role="menuitem">
                        <a href="{{ doc.url }}" title="Go to {{ doc.title }}">{{ doc.title }}</a>
                    </li>
                {% endif %}        
            {% endfor %}

            {% assign menus = site.collections | where: "parent", collection.label | sort: 'priority' %}
            {% assign rootMenuClass = '' %}
            {% if menus != empty %} 
                <li class="submenu submenu" role="menuitem">
                    {% include menu.html %}
                </li>
            {% endif %}
        </ol>
    </li>    
{% endfor %}