<style>
    #email, #key {
        border: 1px solid silver;
        font-size: 1em;
        line-height: 2em;
        padding-left: 5px;
    }
    #article-container > h1 {
        display: none;
    }
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: 15em auto;

    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

<div id="article-container">
    This article is exclusively for <b>PRO</b> subscribers. Please fill in your PRO subscription details:
    <p>
        <p><span style="display:inline-block;width:50px">Email:</span> <input type="email" id="email" name="email" placeholder="john@gmail.com" required></p>
        <p><span style="display:inline-block;width:50px">Key:</span> <input type="text" id="key" name="key" placeholder="XXXXX-XXXXXX-XXXXXX" required></p>
        <button onclick="fetchProContent()" >Show article</button> or buy a <a href="https://devsoap.com/store?product={{page.product}}" >PRO subscription</a>
    </p>
</div>

<script type="text/javascript" src="{{ '/assets/js/prism.js?v=' | append: site.github.build_revision | relative_url }}" data-manual></script>
    
<script>
    function dateDiffInDays(date1, date2) {
        var dt1 = new Date(date1);
        var dt2 = new Date(date2);
        return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) -
            Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));
    }

    function fetchProContent() {
        var product = "{{collection.product}}";
        var article = "{{page.article}}";
        var email = document.getElementById("email").value;
        var key = document.getElementById("key").value;
        if (email != undefined && email.trim() != '' && key != undefined && key.trim() != '') {
            document.getElementById("article-container").innerHTML = "<div class='loader'></div>";
            fetch(`https://fns.devsoap.com/t/license-server/fetch?email=${email}&product=${product}&article=${article}&key=${key}`)
                .then(function(response) {
                    if(response.ok) {
                        return response.text();
                    }
                    throw new Error('Failed fetching article.');
                })
                .then(function(html){
                    window.localStorage.setItem("devsoap.{{collection.product}}.credentials",
                        JSON.stringify({email: email, key: key, timestamp: new Date()}));
                    window.localStorage.setItem("devsoap.{{collection.product}}.article.{{page.article}}",
                        JSON.stringify({content: html.toString(), timestamp: new Date() }));
                    document.getElementById("article-container").innerHTML = html.toString();
                    document.getElementById("sponsorship").style.display = 'none';
                    return document.getElementById("article-container");
                })
                .then(function(codeElement) {
                    codeElement.setAttribute("line-numbers","");
                    Prism.highlightAllUnder(codeElement);
                })
        }
    } 
    
    var storedArticleJson = window.localStorage.getItem("devsoap.{{collection.product}}.article.{{page.article}}");
    var storedArticle;
    if(storedArticleJson != undefined) {
        storedArticle = JSON.parse(storedArticleJson);
        if(dateDiffInDays(storedArticle.timestamp, new Date()) > 30) {
            window.localStorage.removeItem("devsoap.{{collection.product}}.article.{{page.article}}");
            storedArticle = undefined
        }
    }

    var credentialsJson = window.localStorage.getItem("devsoap.{{collection.product}}.credentials");
    var credentials;
    if(credentialsJson != undefined) {
        var credentials = JSON.parse(credentialsJson);
        if(dateDiffInDays(credentials.timestamp, new Date()) > 30) {
            window.localStorage.removeItem("devsoap.{{collection.product}}.credentials");
            credentials = undefined
        } else {
            document.getElementById("email").value = credentials.email;
            document.getElementById("key").value = credentials.key;
        }
    }

    if(storedArticle != undefined && credentials != undefined){
        var codeElement = document.getElementById("article-container");
        codeElement.innerHTML = storedArticle.content;
        codeElement.setAttribute("line-numbers","");
        Prism.highlightAllUnder(codeElement);
    } else {
        console.log("Article not found in local storage.");
        fetchProContent();
    }
</script>
