---

---

//@import "{{ site.theme }}";
@import "monokai.css";

/*******************************************************************************
Custom Styles
*******************************************************************************/

$body-color: #cbeafb;
$menu-background-color: desaturate(darken($body-color, 5%), 100%);
$menu-color: darken($menu-background-color, 50%);
$menu-selected-color: #26a8ed;
$menu-item-color: #575757;

aside {
   background: $menu-background-color;
   min-width: 450px;

   & ol {
     list-style: none;
     padding-right: 0;
  
     a {
        color:$menu-color;
        margin:10px; 
     }


     li {
        margin: 0;

        &.menu {
          font-weight: bold;  
          & > a {
            margin-left: 5px;
          }
          & > a::before {
            content: "⎆ ";
          }
          &.selected > a {
            color: $menu-selected-color !important;
          }
       
        }

        &.submenu {
          font-weight: normal;
          &.selected {
            & > a {
               color: $menu-selected-color !important;
            }
                     
            & > .bookmark-list {
               margin: 0;
               .bookmark > a {
                  color: darken(silver, 20%) !important;
               }
               .bookmark > a::before {
                  content: '⎘ ';
               }
            }
          }
        }
     }
   }

   & > ol > li.menu > a {      
      &::after {
         float: right;
         content: '▾';
         padding-right: 10px;
      }
      &::before {
         content: "";
      }        
   }

   & > ol {
      padding-left:0;
      & > li.menu {
         padding-left:0;
         & > a {
            padding-left: 5px;
            margin:0;
            width: 100%;
            display: inline-block;
            line-height: 2em;
            background: lighten($menu-background-color, 10%);
         }
      }      
   }

}

.site-main.outer {
   padding:0;
}

.inner {
   padding-top: 1em;
   padding-left: 20px;
   padding-right: 20px;
   text-align: justify;
}

.last-modifed {
   color: silver;
   padding-bottom:0.5em;
}

.highlighter-rouge {
   margin-bottom: 1em;  
   background-color: lightgray;
   padding: 3px;

   .highlight pre {
      background-color: lighten(black, 20%);
      padding: 10px;
      overflow: auto;
   }
  
   .lineno { 
      color: #ccc; 
      padding-right: 10px;
      padding-left: 10px;
    }
}

.language-bash {
   color: lighten(green, 20%);

   & .rouge-code > pre::before {
      content: '$> ';
      color: white;
   }
}

.language-pre {
  font-style: italic;
  display: block;
  border-left: 5px solid lighten(orange, 20%);
  padding-left: 15px;
  margin-bottom: 20px;
}

pre > a {
   display: inline;
   padding: 0;
   margin: 0;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

main {
   display: block;
}

@media(min-width: 1280px){
   main {
      display: flex !important;
   }
}

h1,h2,h3,h4,h5,h6,hr { 
   clear:both; 
}

.screenshot {
      width: 500px;
      max-width: 30%;
      margin-bottom: 25px;
      margin-right: 10px;
      padding: 10px;
      background-color: #eee;
      box-shadow: 1px 1px solid black;
      float:left;
}

.commento-footer {
   display: none;
}