{% if page.collection != null %} {% assign collection = site.collections | where: "label", page.collection | first %} {% if collection.parent != 'main' %} {% assign collection = site.collections | where: "label", collection.parent | first %} {% endif
%} {% if collection.label == 'posts' %} {% assign collection = null %} {% endif %} {% assign title = page.title %} {% if title == 'Index' %} {% assign title = collection.title %} {% endif %} {% else %}
<!-- Front page -->
{% assign title = page.title %} {% assign collection = null %} {% endif %} {% assign menus = site.collections | where: "label", collection.label %} {% assign isRootMenu = true %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">
{% include head.html %}

<body style="display:flex;flex-direction:column;min-height:100vh">
    {% include header.html %}

    <main id="site-main" class="site-main outer" role="main" style="flex-grow:1">
        {% if collection != null %}
        <aside>
            {% else %}
            <aside style="display:none">
                {% endif %}
                <ol class="side-nav" role="menu">
                    {% include menu.html %}
                </ol>
            </aside>
            <div class="inner">

                <div class="last-modifed">
                    <span>{{ collection.title }}</span>
                    <span style="float:right" title="Last modified">{{page.modified | date_to_string: "ordinal", "US" }} </span>
                </div>

                {% if title != null %}
                <h1>
                    {% if collection.logo != null %}
                    <img src='{{collection.logo}}' style='height:1em; vertical-align: top' /> {% endif %} {{ title}}
                </h1>
                {% endif %} {% if page.pro == true %} {% include pro.html %} {% else %} {{ content }} {% endif %} {% if page.comments == true %}
                <hr/> {% include comments.html %} {% endif %}
            </div>
    </main>

    {% include footer.html %}

    <script>
        analytics();

        if (window.localStorage.getItem("devsoap.{{collection.product}}.credentials") == undefined) {
            document.getElementById("sponsorship").style.display = 'block';
        }
    </script>
</body>

</html>