{% assign collection = site.collections | where: "label", page.collection | first %}
{% if collection.parent != 'main' %}
  {% assign collection = site.collections | where: "label", collection.parent | first %}
{% endif %}
{% if collection.label == 'posts' %}
  {% assign collection = null %}
{% endif %}  

{% assign title = page.title %}
{% if title == 'Index' %}
  {% assign title = collection.title %}
{% endif %}

{% assign menus = site.collections | where: "label", collection.label %}
{% assign isRootMenu = true %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body style="display:flex;flex-direction:column;min-height:100vh">
    {% include header.html %}
    <main id="site-main" class="site-main outer" role="main" style="flex-grow:1">
      {% if collection != null %}
        <aside>
      {% else %}
        <aside style="display:none">
      {% endif %}
        <ol class="side-nav" role="menu">
          {% include menu.html %}
        </ol>
      </aside>
      <div class="inner">
        <div class="last-modifed" title="Last modified">
          {{page.modified | date_to_string: "ordinal", "US" }}
        </div>
      
        <h1><img src='{{collection.logo}}' style='height:1em' /> {{ title}} </h1>

        {{ content }}
       
        {% if page.comments == true %}
        <hr/>
        {% include comments.html %}
        {% endif %}
      </div>
    </main>
  
    {% include footer.html %}

    <script>
      analytics();
    </script>
  </body>
</html>